.action-container {
    position: relative;
    margin: 44px 0;
    border: solid 2px;
    padding: 12px;
    text-align: right;
}

.active {
    color: red;
}
.bookmark-update {
    position: absolute;
    width: 100%;
    bottom: 100%;
    text-align: left;
    display: none;
}
a {
    text-decoration: none;
}
.dis {
    display: block;
}
